@media screen and (min-width: 600px) {

  footer.msg{
    width: 100%;
    position: fixed;
    bottom:0;

    display: flex;

    p{
      padding-bottom:10px;
      width: 50%;
      span{
        width:100%;
        padding:0 15px;
        white-space: nowrap;
      }
    }
    p.us{
    }
    p.basic{
      span{
        width: 100%;
        text-align: right;
      }
    }
  }
}