@charset "UTF-8";
body, h1, ul, li {
  padding: 0;
  margin: 0; }

body {
  font-family: Microsoft YaHei; }

body[play-game="playing"] .top-title {
  color: #000; }
  body[play-game="playing"] .top-title .w {
    display: none; }
  body[play-game="playing"] .top-title .b {
    display: inline-block; }
body[play-game="playing"] nav ul li {
  color: #000; }
body[play-game="playing"] .game-container-box:before {
  display: none; }
body[play-game="playing"] .game-container .game-score, body[play-game="playing"] .game-container .game-score-max {
  display: block; }
body[play-game="playing"] .play-game-button {
  display: none; }
body[play-game="playing"] .background, body[play-game="playing"] .background2 {
  animation: backgroundAnimation 1.5s infinite linear; }

@font-face {
  font-family: "art-title";
  src: url("../fonts/artTitle.ttf") format("truetype"), url("/fonts/artTitle.otf") format("opentype"); }
header {
  padding: 20px 20px 0 20px;
  height: 50px;
  position: relative;
  z-index: 11; }

.top-title {
  color: #fff;
  font-family: 'art-title';
  float: left; }
  .top-title img {
    margin-right: 10px;
    height: 50px;
    display: none; }
  .top-title .w {
    display: inline-block; }
  .top-title > * {
    vertical-align: middle; }

nav.top {
  float: right; }
  nav.top ul {
    overflow: hidden;
    font-size: 18px; }
    nav.top ul li {
      margin-right: 60px;
      height: 50px;
      line-height: 50px;
      color: #ffffff;
      list-style: none;
      float: left;
      cursor: pointer; }
      nav.top ul li:hover {
        color: #04BE02; }

.game-container-box {
  background-color: #333;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden; }
  .game-container-box:before {
    background-color: #000;
    opacity: 0.5;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0; }

.play-game-button {
  border-radius: 4px;
  border: 2px solid #fff;
  padding: 0.8em 2em;
  color: #ffffff;
  font-size: 20px;
  z-index: 12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  cursor: pointer; }
  .play-game-button:hover {
    background-color: #04BE02;
    border-color: #04BE02; }

.game-container {
  background-color: #88C6FB;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 40px; }
  .game-container .background, .game-container .background2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; }
    .game-container .background .cloud1, .game-container .background2 .cloud1 {
      position: absolute;
      left: 45%;
      bottom: 80px; }
    .game-container .background .cloud2, .game-container .background2 .cloud2 {
      position: absolute;
      top: 60px;
      left: 66%; }
    .game-container .background .mountain, .game-container .background2 .mountain {
      position: absolute;
      bottom: 90px;
      left: 0; }
    .game-container .background .mountain2, .game-container .background2 .mountain2 {
      width: 400px;
      position: absolute;
      bottom: 90px;
      right: 10%; }
    .game-container .background .ground, .game-container .background2 .ground {
      background-image: url(/images/ground.png);
      width: 100%;
      height: 123px;
      position: absolute;
      bottom: 0; }
  .game-container .background2 {
    left: 100%; }
  .game-container .playContainer {
    position: absolute;
    top: 80px;
    width: 100%;
    bottom: 86px; }
    .game-container .playContainer .game-score, .game-container .playContainer .game-score-max {
      color: #000000;
      font-size: 30px;
      z-index: 1;
      position: absolute;
      top: 30px;
      left: 30px; }
    .game-container .playContainer .game-score:before {
      content: '分数:'; }
    .game-container .playContainer .game-score-max {
      top: 70px; }
      .game-container .playContainer .game-score-max:before {
        content: '最佳:'; }
    .game-container .playContainer > canvas {
      width: 100%;
      height: 400px;
      position: absolute;
      left: 0;
      bottom: 0; }

@keyframes backgroundAnimation {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(-100%, 0); } }

/*# sourceMappingURL=index.css.map */
