.content {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  > div {
    margin: 0;
    padding: 15px;
  }
  .want {
    width: 100%;

    img {
      width: 100%;
    }
    .want_content {

      .want_title {
        font-size: 20px;
      }
      .want_descrition{
        font-size:14px;
      }
    }
  }
}


