doctype
html
    head
        title MagicalPixi

    link(rel="styleSheet" href="/css/index.css?t=1")

body
    header
        h1.top-title
            img.w(src="/images/mashroom_logo.png")
            img.b(src="/images/mashroom_logo_b.png")
            span MagicalPixi

        nav.top
            ul
                li 首页游戏
                li About Us

    div.game-container-box

        div.replay-game

        div.play-game-button 体验游戏

        div.game-container
            div.background
                img.mountain(src="/images/mountain.png")
                img.mountain2(src="/images/mountain.png")
                img.cloud1(src="/images/cloud1.png")
                img.cloud2(src="/images/cloud2.png")
                div.ground
            div.background2
                img.mountain(src="/images/mountain.png")
                img.mountain2(src="/images/mountain.png")
                img.cloud1(src="/images/cloud1.png")
                img.cloud2(src="/images/cloud2.png")
                div.ground


            div#playContainer.playContainer
                div.game-score 分数:0

script(src="/js/pixi.min.js")
script(src="/js/pixi-lib.js")
script(src="dist/dist.js")

